* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v17_146 {
    width: 100%;
    height: 900px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v17_147 {
    width: 184px;
    height: 900px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v17_148 {
    width: 100%;
    height: 99px;
    background: rgba(245,201,88,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v17_150 {
    width: 134px;
    height: 59px;
    background: url("../images/v17_492.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 23px;
    left: 1135px;
    overflow: hidden;
  }
  .v17_151 {
    width: 134px;
    height: 53px;
    background: rgba(24,171,255,1);
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v17_152 {
    width: 88px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 21px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 50px;
    opacity: 1;
    text-align: center;
  }
  .v17_153 {
    width: 117px;
    height: 117px;
    background: url("../images/v17_153.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 1296px;
    border-top-left-radius: 368px;
    border-top-right-radius: 368px;
    border-bottom-left-radius: 368px;
    border-bottom-right-radius: 368px;
    overflow: hidden;
  }
  .v17_154 {
    width: 75px;
    color: rgba(97,93,93,1);
    position: absolute;
    top: 126px;
    left: 13px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v17_155 {
    width: 98px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 160px;
    left: 13px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v17_156 {
    width: 98px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 37px;
    left: 1052px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v17_157 {
    width: 105px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 204px;
    left: 13px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v17_158 {
    width: 110px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 249px;
    left: 13px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v17_159 {
    width: 93px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 293px;
    left: 18px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v17_160 {
    width: 84px;
    color: rgba(97,93,93,1);
    position: absolute;
    top: 477px;
    left: 13px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v17_161 {
    width: 119px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 509px;
    left: 13px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v17_162 {
    width: 126px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 553px;
    left: 13px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v17_163 {
    width: 143px;
    height: 74px;
    background: url("../images/v17_163.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 826px;
    left: 20px;
    overflow: hidden;
  }
  .v17_164 {
    width: 143px;
    height: 57px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v17_165 {
    width: 94px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 11px;
    left: 25px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v17_166 {
    width: 259px;
    height: 66px;
    background: url("../images/v17_166.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 742px;
    left: 863px;
    overflow: hidden;
  }
  .v17_167 {
    width: 259px;
    height: 57px;
    background: rgba(245,201,88,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v17_168 {
    width: 244px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 11px;
    left: 8px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v17_169 {
    width: 193px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 24px;
    left: 112px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 50px;
    opacity: 1;
    text-align: center;
  }
  .v17_170 {
    width: 345px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 160px;
    left: 280px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v17_171 {
    width: 473px;
    height: 42px;
    background: rgba(245,201,88,1);
    opacity: 1;
    position: absolute;
    top: 158px;
    left: 393px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v17_194 {
    width: 345px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 225px;
    left: 280px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v17_195 {
    width: 426px;
    height: 42px;
    background: rgba(228,228,228,1);
    opacity: 1;
    position: absolute;
    top: 225px;
    left: 440px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v17_200 {
    width: 124px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 225px;
    left: 885px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v17_201 {
    width: 132px;
    height: 42px;
    background: rgba(228,228,228,1);
    opacity: 1;
    position: absolute;
    top: 225px;
    left: 990px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v17_211 {
    width: 345px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 294px;
    left: 280px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v17_212 {
    width: 426px;
    height: 42px;
    background: rgba(228,228,228,1);
    opacity: 1;
    position: absolute;
    top: 294px;
    left: 440px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v17_213 {
    width: 124px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 294px;
    left: 885px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v17_214 {
    width: 132px;
    height: 42px;
    background: rgba(228,228,228,1);
    opacity: 1;
    position: absolute;
    top: 294px;
    left: 990px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v17_215 {
    width: 345px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 363px;
    left: 280px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v17_216 {
    width: 426px;
    height: 42px;
    background: rgba(228,228,228,1);
    opacity: 1;
    position: absolute;
    top: 363px;
    left: 440px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v17_217 {
    width: 124px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 363px;
    left: 885px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v17_218 {
    width: 132px;
    height: 42px;
    background: rgba(228,228,228,1);
    opacity: 1;
    position: absolute;
    top: 363px;
    left: 990px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v17_219 {
    width: 345px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 431px;
    left: 280px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v17_220 {
    width: 426px;
    height: 42px;
    background: rgba(228,228,228,1);
    opacity: 1;
    position: absolute;
    top: 431px;
    left: 440px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v17_221 {
    width: 124px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 431px;
    left: 885px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v17_222 {
    width: 132px;
    height: 42px;
    background: rgba(228,228,228,1);
    opacity: 1;
    position: absolute;
    top: 431px;
    left: 990px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v17_223 {
    width: 345px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 502px;
    left: 280px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v17_224 {
    width: 426px;
    height: 42px;
    background: rgba(228,228,228,1);
    opacity: 1;
    position: absolute;
    top: 502px;
    left: 440px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v17_225 {
    width: 124px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 502px;
    left: 885px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v17_226 {
    width: 132px;
    height: 42px;
    background: rgba(228,228,228,1);
    opacity: 1;
    position: absolute;
    top: 502px;
    left: 990px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v17_227 {
    width: 345px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 571px;
    left: 280px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v17_228 {
    width: 426px;
    height: 42px;
    background: rgba(228,228,228,1);
    opacity: 1;
    position: absolute;
    top: 571px;
    left: 440px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v17_229 {
    width: 124px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 571px;
    left: 885px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v17_230 {
    width: 132px;
    height: 42px;
    background: rgba(228,228,228,1);
    opacity: 1;
    position: absolute;
    top: 571px;
    left: 990px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v17_231 {
    width: 342px;
    height: 222px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 647px;
    left: 490px;
    overflow: hidden;
  }
  