* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v1_3 {
    width: 100%;
    height: 900px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v6_3 {
    width: 184px;
    height: 900px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v6_2 {
    width: 100%;
    height: 99px;
    background: rgba(245,201,88,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v6_10 {
    width: 134px;
    height: 59px;
    background: url("../images/v6_10.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 23px;
    left: 1135px;
    overflow: hidden;
  }
  .v6_9 {
    width: 134px;
    height: 53px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v6_8 {
    width: 88px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 21px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 50px;
    opacity: 1;
    text-align: center;
  }
  .v6_12 {
    width: 117px;
    height: 117px;
    background: url("../images/v6_12.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 1296px;
    border-top-left-radius: 368px;
    border-top-right-radius: 368px;
    border-bottom-left-radius: 368px;
    border-bottom-right-radius: 368px;
    overflow: hidden;
  }
  .v6_13 {
    width: 75px;
    color: rgba(97,93,93,1);
    position: absolute;
    top: 126px;
    left: 13px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v12_300 {
    width: 84px;
    height: 56px;
    background: url("../images/v12_300.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 10px 10px;
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 150px;
    left: 20px;
    overflow: hidden;
  }
  .v6_14 {
    width: 64px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v6_31 {
    width: 98px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 37px;
    left: 1052px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v6_15 {
    width: 105px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 204px;
    left: 13px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v6_19 {
    width: 110px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 249px;
    left: 13px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v6_20 {
    width: 93px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 293px;
    left: 18px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v6_16 {
    width: 84px;
    color: rgba(97,93,93,1);
    position: absolute;
    top: 477px;
    left: 13px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v6_17 {
    width: 119px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 509px;
    left: 13px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v6_18 {
    width: 126px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 553px;
    left: 13px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v6_25 {
    width: 143px;
    height: 74px;
    background: url("../images/v6_25.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 826px;
    left: 20px;
    overflow: hidden;
  }
  .v6_22 {
    width: 143px;
    height: 57px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v6_23 {
    width: 94px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 11px;
    left: 25px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v6_26 {
    width: 504px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 438px;
    left: 548px;
    font-family: Marvel;
    font-weight: Regular;
    font-size: 80px;
    opacity: 1;
    text-align: center;
  }
  .v6_32 {
    width: 193px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 24px;
    left: 112px;
    font-family: Marvel;
    font-weight: Bold;
    font-size: 50px;
    opacity: 1;
    text-align: center;
  }
  